$theme-colors: (
    'primary': #0091ea, //Covalence Blue!  :D
    'warning': #E5E5E5,
    'success': #68C4DE
    );
    
    $card-height: 100%; // makes every card the same height
    
body {
    background-color: #edf2f2 !important;
    font-family: 'Lato', sans-serif !important;
}

.jumbotron-new {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
    box-shadow:hsla(0, 0%, 0%, .2)
  }

.avatar_img {
    max-height: auto;
    max-width: 50px;
}

.avatar_img_lg {
    max-height: auto;
    max-width: 200px;
}

.img-preview {
    width: '500px';
    height: '500px'; 
    object-fit: 'contain';
}

.btn-shadow {
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2)
}

.input-shadow {
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, .1)
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

